*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-image: url("./img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
min-width: 100v;
min-height: 5vh;
background-color: rgb(255, 240, 122);
margin:auto;
position: fixed;
top: 0;
left: 0;
right: 0;
}

nav ul{
 max-width: 1200px;
 display: flex;
 height: 100%;
 margin:  10px auto;
}

nav ul li{
  list-style: none;
  flex-grow: 1;
  font-family: 'roboto', sans-serif;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  color: #831B4C;
  line-height: 5vh;
}

nav ul li:hover{
  background-color: #71C837;
  color: black;
}

nav ul li.active{
  background-color: #831B4C;
  color: white;

}
nav ul li p {
  text-transform: uppercase;
  font-size: 26px;
  font-family: 'Ranga', cursive;
}

section{
  color: #831B4C;
  min-height: 95vh;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 1200px;
  margin: auto;
  padding: 5%;
}

section:nth-of-type(odd){
text-align: left;
}

section:nth-of-type(even){
  text-align: right;
  }

section:last-of-type{
  padding-bottom: 0;
}

section h1, section h2{
 text-transform: uppercase;
 margin: 3% 8%;
 font-family: 'Ranga', cursive;
}

section h1{
  font-size: 52px;
}

section h2{
font-size: 34px;
}

section img {
background-color: white;
height: 300px;
min-width: 250px;
border: 2px solid #831B4C; 
}

section:nth-of-type(even) img{
text-align: center;
  }

section:nth-of-type(even) img{
   margin-left:auto;}

section div.wrapper{
  display: flex;
}

section div{
  padding: 30px;
  text-align: center;
}

section div p{
padding: 10px;
}

section div p span.media a {
  padding: 10px ;
  font-size: 35px;
  color:#FFF07A;
  margin: 0 30px;
  background-color: #831B4C;
}

section div.wrapper div h3{
font-size: 28px;
margin: 20px;
}

footer{
text-align: center;
color: #831B4C;
height: 10vh;
background-color: #FFF07A;
font-size: 18px;
}

footer span{
  text-align: center;
  line-height: 10vh;
  margin: 0 30px;
}

span.media a {
  font-size: 20px;
  padding: 8px;
  text-decoration: none;
  color: #FFF07A;
  background-color: #831B4C;
  border-radius: 100px;
  transition: 0.5s;
}

span.media a:hover{
  color: white;
}